@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Rubik:ital,wght@1,300&display=swap');
*::selection {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #ffffff; */
  color: #009688;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Rubik', sans-serif !important;
}

.home-title {
  color: #0d004d;
  font-size: 70.4px;
  line-height: 86.4px;
  text-shadow: 0 2px 4px rgba(13, 0, 77, 0.08), 0 3px 6px rgba(13, 0, 77, 0.08),
    0 8px 16px rgba(13, 0, 77, 0.08);
  font-family: Poppins, sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
.btn-home {
  text-decoration: none;
  color: white;
}
.btn-home:hover {
  text-decoration: none;
  color: white;
}
.btn-dark {
  background-color: #0d004df2;
  color: #fff;
  height: 40px;
  box-shadow: 0 2px 4px rgba(13, 0, 77, 0.08), 0 8px 16px rgba(13, 0, 77, 0.08),
    0 32px 80px rgba(13, 0, 77, 0.08);
}
.btn-dark:hover {
  background-color: #0d004d;
  color: #fff;
  height: 40px;
  box-shadow: 0 2px 4px rgba(13, 0, 77, 0.08), 0 8px 16px rgba(13, 0, 77, 0.08),
    0 32px 80px rgba(13, 0, 77, 0.08);
}
.fa-star {
  color: rgb(226, 173, 25);
}
.navbar {
  background: linear-gradient(
    to right,
    rgb(229, 231, 235),
    rgb(156, 163, 175),
    rgb(75, 85, 99)
  );
  box-shadow: 0 2px 4px rgba(13, 0, 77, 0.08), 0 8px 16px rgba(13, 0, 77, 0.08),
    0 32px 80px rgba(13, 0, 77, 0.08);
}
.nav-link:hover {
  color: #0d004d !important;
}
.brand-navbar {
  color: #0d004d !important;
  font-weight: bold !important;
  font-weight: 500 !important;
  font-size: large !important;
}
.cart-brand {
  color: rgba(32, 55, 154, 0.322) ant;
}

.nav-link {
  padding-bottom: 2px;
  font-weight: bold !important;
  font-weight: 200 !important;
  font-size: medium !important;
}
.carousel-inner {
  border-radius: 10px !important;
}
.cart-description {
  color: rgb(157, 157, 157);
}
.cardCart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009688;
  height: 700px;
}

.title {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.699);
}
.button-products {
  background-color: #009688 !important;
  color: white !important;
}
.product-image {
  background-size: auto;
  width: 100%;
  height: 200px !important;
  cursor: pointer;
}
.card-cart {
  border: none;
  background-color: rgba(227, 227, 227, 0.407);
}

/* ---MEDIA---- */
@media (max-width: 767px) {
  .buttons {
    display: flex;
    justify-content: center;
    gap: 3;
    align-content: center;
    max-width: 100%;
  }
  .buttons .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.1rem;
    margin: 2px;
    width: 100%;
  }
  .card-product {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 653px) {
  .buttons {
    flex-direction: column;
  }
  .buttons .btn {
    margin-bottom: 5px;
  }
}
