@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Roboto+Condensed:ital,wght@0,400;1,300&family=Rubik:ital,wght@1,300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-family: 'Rubik', sans-serif !important;
  /* font-family: 'Bodoni Moda', serif; */
  /* font-family: 'Roboto Condensed', sans-serif; */
}
.title {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.699);
}
.button-products {
  background-color: #009688 !important;
  color: white !important;
}
.product-image {
  background-size: auto;
  width: 100%;
  height: 200px !important;
  cursor: pointer;
}
.card-cart {
  border: none;
  background-color: rgba(227, 227, 227, 0.407);
}
